@*@page
    @model IndexModel
    @{
        ViewData["Title"] = "Home page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@page
@model IndexModel
@{
    ViewData["Title"] = "Chat Challenge - Jobsity";
    bool isLogin = Convert.ToBoolean(ViewData["IsLogin"]);
}
@if (!isLogin)
{
    <div class="text-center">
        <h1 class="display-4">Welcome to ChatChallenge</h1>
        <p>Please sing in or Register</p>
    </div>
}
else
{
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row d-flex flex-column">
            <div class="col-12 w-100">User</div>
            <div class="col-12 w-100"><span class="font-weight-bold" id="userInput">@ViewData["UserName"]</span></div>
        </div>
        <div class="row d-flex">
            <div class="col-12">Message</div>
            <div class="col-12"><input class="w-100" type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul id="messagesList"></ul>
        </div>
    </div>
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>